!!! 5
%html{html_attrs('en-US')}
  %head
    %meta{:charset => 'utf-8'}
    %title= "Nicolas Cavigneaux - #{@item[:title]}"
    %meta{:name => "AUTHOR", :content => "Nicolas Cavigneaux"}
    %meta{:name => "DESCRIPTION", :content => "Nicolas Cavigneaux's Resume"}
    %meta{:name => "KEYWORDS", :content => "job, oss, free software, linux, ruby, rubymotion, ror, rails, developer, nicolas, cavigneaux, internet, web, security, engineer"}
    %link{:rel => "shortcut icon", :href => "/images/favicon.png", :type => "image/png"}
    %link{"rel" => "stylesheet", "type" => "text/css", "href" => "/stylesheets/reset.css", "media" => "screen"}
    %link{"rel" => "stylesheet", "type" => "text/css", "href" => "/stylesheets/main.css", "media" => "screen"}
    %script{"src" => "/javascripts/mootools.js", "type" => "text/javascript", "charset" => "utf-8"}
    %script{"src" => "/javascripts/mootools-more.js", "type" => "text/javascript", "charset" => "utf-8"}
    %script{"src" => "/javascripts/application.js", "type" => "text/javascript", "charset" => "utf-8"}

  %body
    .wrapper
      %header
        %a{:href => "/", :title => "Version française", :class => "flag"}
          %img{:src => "/images/flag_fr.png", :alt => "Version française"}
        %h1
          = link_to "Nicolas Cavigneaux", "/en"
        %nav
          %ul
            %li.first
              %a{:href => "/en/"} About
            %li
              %a{:href => "/en/news/"} News
            %li
              %a{:href => "/en/projects/"} Projects
            %li.last
              %a{:href => "/en/resume/"} Resume

      #main
        = yield
      %nav#sidebar
        %ul.social
          %li.blog
            %a{"href" => "http://www.bounga.org"} Blog
          %li.bitbucket
            %a{"href" => "http://stuff.bounga.org"} BitBucket
          %li.twitter
            %a{"href" => "http://twitter.com/Bounga"} Twitter
          %li.linkedin
            %a{"href" => "http://www.linkedin.com/in/cavigneaux"} LinkedIn
          %li.viadeo
            %a{"href" => "http://www.viadeo.com/fr/profile/nicolas.cavigneaux"} Viadeo
          %li.flickr
            %a{"href" => "http://www.flickr.com/photos/bounga/"} Flickr

      %footer
        %p= "&copy; #{Date.today.year} Nicolas Cavigneaux"
        %p
          %a{:href => "http://contributors.rubyonrails.org/contributors/nicolas-cavigneaux/commits", :title => "Core contributor"}
            %img{"src" => "/images/socials/rails-core-contributor.gif", "alt" => "Rails Core Contributor"}
